<div class=cryptocontainer>
<div class=cryptoinfo>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/DOGE.png> DOGE <br>
<code style="font-size:xx-small;overflow-wrap:break-word;">DBqDgUY4GSiPVNznXfnTFui55gDweXFHwP</code><br>
<a href=/pix/DOGE-Coinbase-FrenchMomSecrets.png><img alt="DOGE QR Code" class=qr src=/pix/DOGE-Coinbase-FrenchMomSecrets.png></a>
</div>
<div class=cryptoinfo>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/btc.svg> Bitcoin <br>
<code style="font-size:small;overflow-wrap:break-word;">32njc2dp7cYTqi6ogazEP1RxoMVWDxaoDz</code><br>
<a href=/pix/Bitcoin-Coinbase-FrenchMomSecrets.png><img alt="Bitcoin QR Code" class=qr src=/pix/Bitcoin-Coinbase-FrenchMomSecrets.png></a>
</div>
<div class=cryptoinfo>
<img alt="" style="max-height:1em;max-width:1em;display:inline" src=/pix/ETH.png> Ethereum <br>
<code style="font-size:small;overflow-wrap:break-word;">0x4c65885A4B566562ddddB6f92c900cF2B1d7B4d3</code><br>
<a href=/pix/ETH-Coinbase-FrenchMomSecrets.png><img alt="ETH QR Code" class=qr src=/pix/ETH-Coinbase-FrenchMomSecrets.png></a>
</div>
</div>
